chart:chart         1.0.1-beta.4  Chart.js (official) - Responsive, simple, c...
gadicohen:headers   0.0.27  Access HTTP headers on both server and client
hitchcott:platform  0.0.1  A platform detection library that works on nearly ...
iron:router         1.0.7  Routing specifically designed for Meteor
mantarayar:shortid  0.0.1  Amazingly short non-sequential url-friendly unique...
meteor-platform     1.2.2  Include a standard set of Meteor packages in your app
momentjs:moment     2.10.3  Moment.js (official): parse, validate, manipulate...
mrt:url             0.0.3  url npm library wrapped in meteor
rzymek:randomcolor  0.1.1_1  Random Color (v0.1.1), lib for generating attrac...

