<template name="urlForm">
    {{#if firstTimeVisitor}}
        <div class="alert alert-dismissible alert-danger" style="border-radius: 0px">
            <button id="first-time-alert" type="button" class="close" data-dismiss="alert">×</button>
            <p>Welcome to Smll.me! (beta) Paste a Url below, share it and then see the results update in real time!</p>
        </div>
    {{/if}}
    <div class="container">
        <h1 class="text-center smll-title-text">Smll.me</h1>
        <form class="urlEntry">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
                    <div class="input-group">
                        <input class="form-control" name="url" type="url" placeholder="Enter URL here" required>
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="submit">Smll Me!</button>
                    </span>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
                    <div id="capatcha">
                        {{> reCAPTCHA}}
                        {{#if captchaEmpty}}
                            <p class="text-danger">Error: Please check the captcha</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container text-center">
        {{#if loadingNewLink}}
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
        {{/if}}
        {{#if formResults}}
            <h3 class="text-center">Here is your new Smll link:</h3>
            <a class="new-smll-link" href="/{{formResults}}">smll.me/{{formResults}}</a>
            <div class="link-buttons">
                <a class="button btn btn-success" href="/{{formResults}}/results">Results</a>
                <button id="hide-link-button" class="btn btn-danger">Hide</button>
            </div>
        {{/if}}
    </div>
    {{#momentum plugin='fade'}}
        {{# if localUrlKeys}}
            <div class="container">
                <h1 class="text-center previous-title">Your Previous Smll Links</h1>
                <div class="row">
                    {{#momentum plugin='growl'}}
                        {{# each localUrlKeys}}
                            <div class="col-sm-6 col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h5><a href="/{{urlKey}}">{{urlKey}}</a></h5>
                                        <p class="text-muted">{{urlValue}}</p>
                                        <a class="button btn btn-success" href="/{{urlKey}}/results">Results</a>
                                        <button type="button" class="btn btn-danger delete-button">Delete</button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/momentum}}
                </div>
            </div>
        {{/if}}
    {{/momentum}}
</template>
