.pie-legend {
	list-style: none;
    display: inline-block;
	margin: 0;
	padding: 0;
}
.pie-legend span {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	margin-right: 16px;
	margin-bottom: -2px;
}
.pie-legend li {
	margin-bottom: 10px;
}

canvas {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    display: inline-block;
}

.link-buttons {
    margin-top: 10px;
}

.previous-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.smll-title-text {
    margin-top: 50px;
    font-size: 600%;
    margin-bottom: 50px;
}